.contTopMenu {
    position: relative;
    overflow: hidden;
}
    .imgLogo {
        position: fixed;
        cursor: pointer;
        margin-top: 0.5%;
        margin-left: 0.5%;
        width: 4%;
        z-index: 1;
    }
    .imgLogo:active {
        transform: translate(1px, 1px);
    }
    .imgToggleSpotify {
        position: fixed;
        cursor: pointer;
        margin-top: 0.5%;
        margin-left: 5%;
        width: 4%;
        z-index: 1;
    }
    .imgToggleSpotify:active {
        transform: translate(1px, 1px);
    }


.contBottomMenu {
    position: relative;
    overflow: hidden;
}
    .imgToggleContact {
        position: fixed;
        cursor: pointer;
        margin-left: 0.5%;
        margin-bottom: 0.5%;
        bottom: 0;
        width: 4%;
        z-index: 1;
    }
    .imgToggleContact:active {
        transform: translate(1px, 1px);
    }
    .textContactInfo {
        position: fixed;
        margin-left: 5%;
        margin-bottom: 1.5%;
        bottom: 0;
        font-size: 1vw;
        z-index: 1;
        display: none;
    }

.contMap {
    position: relative;
    overflow: hidden;
}
    .worldmap {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

.contListCity{
    position: relative;
    overflow: hidden;
    display: none;
}
    .listCity {
        position: fixed;
        list-style: none;
        margin-left: 45%;
        width: 15%;
        max-height: 100%;
        overflow-y: auto;
        z-index: 1;
        }
        .itemHeader {
            background-color: #282828;
            color: #ffffff;
            font-size: 1.5vw;
            padding-left: 4%;
            padding-top: 4%;
            padding-right: 0;
            padding-bottom: 6%;
        }
        .listCity li {
            background-color: #282828;
            color: #ffffff;
            font-size: 1vw;
            padding-left: 12%;
            padding-top: 1%;
            padding-right: 0;
            padding-bottom: 5%;
        }
        .listCity a{
            text-decoration-line: none;
        }
        .listCity a:hover{
            text-decoration-line: underline;
            text-decoration-color: #1DB954;
        }

.contSpotify {
    position: relative;
    overflow: hidden;
}
    .iSpotify {
        position: fixed;
        top: 0;
        right: 0;
        height: 80px;
        z-index: 1;
        background-color: #282828;
    }

@media screen and (min-width: 500px) { .iSpotify { width: 45% } .listCity { margin-left: 40%; } }
@media screen and (min-width: 800px) { .iSpotify { width: 40% } .listCity { margin-left: 45%; } }
@media screen and (min-width: 1024px) { .iSpotify { width: 35% } .listCity { margin-left: 50%; } }
@media screen and (min-width: 1600px) { .iSpotify { width: 30% } .listCity { margin-left: 55%; } }
@media screen and (min-width: 1920px) { .iSpotify { width: 25% } .listCity { margin-left: 60%; } }
@media screen and (min-width: 2560px) { .iSpotify { width: 20% } .listCity { margin-left: 65%; } }
@media screen and (min-width: 3840px) { .iSpotify { width: 15% } .listCity { margin-left: 70%; } }